.text-field {
  width: 30%;
  display: flex;
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.sign-in-field input {
  width: calc(100% - 24px);
  display: flex;
}
.sign-in-field {
  width: 100%;
}

.sign-in-container {
  align-items: center;
  display: flex;
  background-color: white;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 8px;
  width: 30vw;
  height: 50vh;
  margin-top: 5rem;
  padding: 30px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.09), 3px 2px 3px rgba(0, 0, 0, 0.05);
}

.sign-in-container button {
  min-width: 200px;
  height: 36px;
}
.sign-in-container form {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .sign-in-container {
    width: 30vw;
    height: 60vh;
  }
  .sign-in-container .action-btn-primary {
    min-width: 100px;
  }
}
