.Tva__Dialog__Background {
  z-index: 100;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.2s ease;
}

.Tva__Dialog {
  position: relative;
  margin: auto;
  top: 20vh;
  background: #fff;
  padding: 20px;
  overflow: auto;
  transition: 0.2s ease;
}
