.Notification {
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.Notification--info {
  color: aqua
}

.Notification--alert {
  color: yellow;
}

.Notification--error {
  color: red;
}
