.btn {
  border-radius: 8px;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  margin: 8px 0;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  &__danger {
    background-color: red;
    color: white;
  }
  &__primary {
    background-color: blue;
    color: white;
  }
  &__tags {
    background-color: rgba(1, 18, 34, 0.05);
    border: none;
    color: #22313f;
    padding: 8px 10px;
    border-radius: 20px;
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
  }
  &:disabled {
    background-color: gray;
    color: #fff;
    cursor: not-allowed;
    pointer-events: none;
  }
}
