.components {
  &__tags {
    background-color: rgba(1, 18, 34, 0.05);
    border: none;
    color: #22313f;
    padding: 8px 10px;
    border-radius: 20px;
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;

    &--active {
      border: solid 2px #2f6bff;
      color: #2f6bff;
      background-color: #fff;
    }
  }
}
