.login-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background: url('./../../assets/images/login_bg.jpg');
  background-color: gray;
}
.login-container .left-panel {
  display: flex;
  justify-content: center;
  justify-items: center;
  opacity: 0.8;
  width: 50%;
  height: 100%;
  background: url('./../../assets/images/left_bg.jpg');
  background-position: center;
  background-size: cover;
  
}
.login-container .right-panel {
  width: 50%;
  height: 100vh;
  overflow-y: auto;
}
.login-container .right-panel form {
  min-width: 440px;
  min-height: 650px;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  background-color: lightgreen;
  width: 100%;
  min-height: 100vh;
  opacity: 0.8;
}
.login-container .right-panel form .actions {
  width: 100%;
  text-align: center;
}
.login-container .right-panel form .actions button {
  cursor: pointer; 
  min-width: 250px;
  max-width: 350px;
  height: 50px;
  margin-top: 10px;
  border: solid 1px;
  border-radius: 25px;
  color: white;
  background: black;
  font-size: 18px;
  font-weight: bold;
}


@media screen and (min-width: 1201px) {
  .login-container .left-panel {
    width: 50%;
  }
  .login-container .right-panel {
    width: 50%;
  }
}
@media screen and (max-width: 1200px) {
  .login-container .left-panel {
    width: 50%;
  }
  .login-container .right-panel {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .login-container .left-panel {
    width: 30%;
  }
  .login-container .right-panel {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .login-container .left-panel {
    display: none;
  }
  .login-container .right-panel {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .login-container .left-panel {
    display: none;
  }
  .login-container .right-panel {
    width: 100%;
  }
}