@import "../../scss/abstracts/variables";

.Input {
  min-height: 36px;
  border: 2px solid $brand-color;
  outline: none;
  padding: 0 12px;
  border-radius: 4px;

  &:focus {
    box-shadow: 0 0 0 2px rgba($brand-color, 0.25);
  }

  &[input-variant="primary"] {
    flex: 1;
  }

  &[type="checkbox"] {
    cursor: pointer;
    width: 20px;
    height: 20px;
    box-shadow: none;
    border: none;
    outline: none;

    &:focus {
      box-shadow: none;
      border: none;
      outline: none;
    }
  }
}
