.custom-input{
  label{
    color: white;
    font-weight: bold;
  }
  input {
    width: 100%;
    min-height: 36px;
    border: none;
    outline: none;
    padding: 0 12px;
    box-shadow: 2px 0 4px rgba(0,0,0, 0.2);
    border-radius: 4px;
    &[type="checkbox"] {
      width: 24px;
      height: 24px;
      box-shadow: none;
      border: none;
      outline: none;
    }
    &[type="checkbox"]:focus {
      box-shadow: none;
      border: none;
      outline: none;
    }
    &:focus {
      box-shadow: 1px 0 9px rgba(0,0,0, 0.25);
    }
  }
}