
.Todo__container {
  border: 1px solid var(--border-color-base);
  border-radius: 8px;
  width: 100%;
  margin-top: 5rem;
  margin-left: 12px;
  margin-right: 12px;
  padding: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .2)
}

@media (min-width: 768px) {
  .Todo__container {
    width: 500px;
    margin: 5rem auto;
  }
}
