.item-todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  &__content {
    display: flex;
    align-items: center;
    flex: 1;
  }
  &__input {
    width: 100%;
    border: none;
    font-size: 16px;
    border-bottom: solid 1px rgba(200, 200, 200, 0.4);
    &:focus {
      outline: none;
    }
  }
}
