.ToDo__list {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.ToDo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 7px;
  padding: 2px 5px 2px 5px;
}

.ToDo__item > span {
  flex: 1 1;
  text-align: left;
  margin-left: 8px;
}

.todo-item-content {
  width: 100%;
  color: white;
  margin-left: 5px;
  margin-right: 7px;
  background-color: transparent;
  box-shadow: none;
}
