.ToDo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ToDo__item > span {
  flex: 1 1;
  text-align: left;
  margin-left: 8px;
  margin-right: 8px;
}

.ToDo__item > .input-edit-content {
  height: 23px;
  min-height: initial;
  padding: 0px 7px;
  margin: 0 8px;
}

.Todo__content {
  flex: 1 1;
}
