.Button {
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 2px 0 2px currentColor;
  border-radius: 4px;
  min-height: 32px;
  min-width: 80px;
  padding: 4px 8px;

  &:hover {
    opacity: 0.85;
  }

  &[btn-variant="primary"] {
    background-color: #0070f3;
    color: #fff;
  }

  &[btn-variant="danger"] {
    background-color: #f5222d;
    color: #fff;
  }

  &[btn-variant="success"] {
    background-color: #52c41a;
    color: #fff;
  }
}
