@import "../../scss/abstracts/variables";

.Button {
  cursor: pointer;

  height: 32px;
  min-width: 80px;

  background-color: transparent;
  border: 1px solid currentColor;
  border-radius: 4px;
  outline: none;

  padding: 4px 8px;

  transition: all 0.2s linear;

  &[btn-variant="primary"] {
    color: $brand-color;

    &.Active {
      border-color: $brand-color;
      background-color: $brand-color;
    }

    &:hover {
      border-color: $brand-color;
      background-color: $brand-color;
    }
  }

  &[btn-variant="danger"] {
    color: $red-color;

    &.Active {
      border-color: $red-color;
      background-color: $red-color;
    }

    &:hover {
      border-color: $red-color;
      background-color: $red-color;
    }
  }

  &[btn-variant="success"] {
    color: $green-color;

    &.Active {
      border-color: $green-color;
      background-color: $green-color;
    }

    &:hover {
      border-color: $green-color;
      background-color: $green-color;
    }
  }

  &.Active {
    color: white;
  }

  &:hover {
    opacity: 0.85;
    color: white;
  }
}
