.Action__btn {
  /* background-color: white; */
  border: 1px solid;
  box-shadow: none;
  border-radius: 16px;
  color: white;
  cursor: pointer;
  transition: all 0.3;
  padding-left: 10px;
  padding-right: 10px;
}
/* Color */
.Action__btn--default {
  background-color: #4c4c4c;
}
.Action__btn--error {
  background-color: #e84c3d;
}
.Action__btn--success {
  background-color: #10bc98;
}
.Action__btn--secondary {
  background-color: #3cbce1;
}
/* Variant */
.Action__btn--icon {
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  min-width: 32px;
  width: 32px;
  height: 32px;
  border:none;
}