.ManaDo_TodoFeature_TodoCreationForm {
  display: flex;
  align-items: flex-start;
}

.CreationFormWidth {
  width: 40%;
}

@media screen and (max-width: 1200px) {
  .CreationFormWidth {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .CreationFormWidth {
    width: 100%;
  }
}

.ManaDo_TodoFeature_TodoCreationForm > .ManaDo_TodoFeature_Input {
  flex: 1;
}
