.todo-list {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.todo-list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ededed;
    &:first-child {
      border-top: 1px solid #ededed;
    }
}
  
.todo-list__item > span {
    flex: 1 1;
    text-align: left;
    margin-left: 8px;
}

.todo-list__item__delete {
    outline: none;
    border: none;
    width: 32px;
    height: 32px;
    min-width: auto;
    min-height: auto;
    box-shadow: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: none;
    color: #af5b5e;
    font-weight: 500;
}
  
.todo-list__item__delete {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}