@media screen and (max-width: 900px) and (min-width: 1px) {
  .ToDo__container {
    width: calc(100% - 32px);
  }
  .ma-sign-in-page-wrapper {
    margin-left: 16px;
    margin-right: 16px;
  }
  .ma-content-value,
  .ma-date-create-value,
  .Action__btn {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .ma-content-label,
  .ma-date-create-label,
  .ma-text {
    font-size: 12px;
  }
  .ToDo__list {
    height: 400px;
  }
  .Todo__item_sec4 {
    flex: 6;
  }
  .ma-input::placeholder {
    font-size: 13px;
  }
  .ma-popup-content,
  .Todo__creation .ma-input {
  }
  .Todo__creation .ma-input {
    height: 36px;
    line-height: 36px;
  }

  .ma-add-todo-icon {
    height: 30px;
    top: 3px;
    right: 3px;
  }
  .Todo__creation .ma-input {
    border-radius: 16px;
  }
  .todo-toolbar-sec1 {
    display: none;
  }
  .todo-toolbar-sec1-mobile {
    display: flex;
    justify-content: flex-end;
    position: relative;
    position: relative;
  }
  .ma-more-button {
    width: 20px;
    height: 20px;
  }
  .menu-more-wrapper {
    position: absolute;
    width: 160px;
    top: -17px;
    right: 17px;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    z-index: 1;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #e4e8ec;
  }
  .ma-mark-all {
    color: #395ad2;
  }
  .menu-more-item {
    font-size: 12px;
    display: flex;
    align-items: center;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
  }
  .menu-more-item span {
    padding-left: 8px;
  }
  .ma-delete-all-mobile {
    color: #ee4064;
  }
  .menu-more-item img {
    width: 16px;
    height: 16px;
  }
}
