.toolbar {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;

  &__tabs {
    display: flex;
    justify-content: center;

    &--active {
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
  }

  &__tabs > *:not(:last-child) {
    margin-right: 8px;
  }
}
