.ToDo__container {
    border: 1px solid rgba(0,0,0, 0.13);
    border-radius: 8px;
    width: 500px;
    margin-top: 5rem;
    padding: 24px;
    box-shadow: 2px 2px 1px rgba(0,0,0, 0.09),
                3px 2px 3px rgba(0,0,0, 0.05);
  }
  
  .Todo__creation {
    display: flex;
  }
  
  .Todo__input {
    flex: 1 1;
  }
  
  .ToDo__list {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
  }
  
  .ToDo__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .ToDo__item > span {
    flex: 1 1;
    text-align: left;
    margin-left: 8px;
  }
  
  .Todo__content {
    flex: 1 1;
  }
  
  .Todo__delete {
    outline: none;
    border: none;
    width: 32px;
    height: 32px;
    min-width: auto;
    min-height: auto;
    box-shadow: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .Todo__action, .Todo__delete {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
  
  .Todo__toolbar {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }
  
  .Todo__tabs {
    display: flex;
    justify-content: center;
  }
  
  .Todo__tabs > *:not(:last-child) {
    margin-right: 8px;
  }

  .ToDo__item input + input {
    box-shadow: 4px 0px 5px rgb(0 0 0 / 20%);
    flex: 1 1;
    margin-left: 0;
    margin-right: 10px;
  }