.ToDo__container {
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 8px;
  width: 500px;
  margin-top: 5rem;
  padding: 24px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.09), 3px 2px 3px rgba(0, 0, 0, 0.05);
}

.Todo__creation {
  display: flex;
}

.Todo__input {
  flex: 1 1;
}

.ToDo__list {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.ToDo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  padding: 0px 8px;
  cursor: pointer;
}

.ToDo__item > span {
  flex: 1 1;
  text-align: left;
  margin-left: 8px;
}

.Todo__content {
  flex: 1 1;
}

.Todo__delete {
  outline: none;
  border: none;
  width: 32px;
  height: 32px;
  min-width: auto;
  min-height: auto;
  box-shadow: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Todo__action,
.Todo__delete {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.Todo__toolbar {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.Todo__tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Todo__tabs button {
  cursor: pointer;
}

.Todo__tabs > *:not(:last-child) {
  margin-right: 8px;
}

.Todo__tab {
  background-color: #b9b9b9;
  height: fit-content;
}

.ToDo__edit {
  width: 100%;
  margin: 0 1rem;
}

.Tab__active {
  background-color: #37a0e6;
}

.Action__btn-active {
  background-color: #00bcd4;
}
.Action__btn-completed {
  background-color: tomato;
}
.btn__active {
  box-shadow: 1px 0px 5px 3px rebeccapurple;
}
.Action__danger {
  cursor: pointer;
}

button {
  outline: none;
  border: none;
  border-radius: 4px;
  min-height: 32px;
  min-width: 80px;
  padding: 4px 8px;
}

button:hover {
  opacity: 0.85;
}

input[type='checkbox'] {
  width: 24px;
  height: 24px;
  box-shadow: none;
  border: none;
  outline: none;
}

input[type='checkbox']:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

input {
  min-height: 36px;
  padding: 0 12px;
  border-radius: 4px;
}

input:focus {
  box-shadow: 1px 0 9px rgba(0, 0, 0, 0.25);
}
