.error-modal {
  background-color: white;
  width: 100%;
  max-width: 300px;
  height: 140px !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
