.ToDo__content--editable {
  flex-grow: 1;
  box-shadow: unset;
  color: unset;
  font-family: unset;
}

.Action__btn--active {
  background: linear-gradient(30deg, #a35a22, #d7752a) !important;
  box-sizing: border-box;
  border: solid 2px #cb793b;
}
