.ToDo__content--editable {
  flex-grow: 1;
  box-shadow: unset;
  color: unset;
  font-family: unset;
}

.Action__btn--active {
  background: linear-gradient(30deg, #a35a22, #d7752a) !important;
  box-sizing: border-box;
  border: solid 2px #cb793b;
}

.ToDo__content--completed {
  text-decoration: line-through;
}

.ToDo__container {
  width: 500px;
  margin-top: 5rem;
  padding: 24px;
  border: 1px solid #ffffff08;
  border-radius: 16px;
  background: #343b41;
  box-shadow: 24px -24px 48px #24292d, -24px 24px 48px #444d55;
}

.Todo__creation {
  display: flex;
}

.Todo__input {
  flex: 1 1;
}

.ToDo__list {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.ToDo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.ToDo__item > span {
  flex: 1 1;
  text-align: left;
  margin-left: 8px;
}

.Todo__content {
  flex: 1 1;
}

.Todo__delete {
  outline: none;
  border: none;
  width: 32px;
  height: 32px;
  min-width: auto;
  min-height: auto;
  box-shadow: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #343b41;
  box-shadow: 5px -5px 10px #24292d, -5px 5px 10px #444d55;
}

.Todo__action,
.Todo__delete {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.Todo__toolbar {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.Todo__tabs {
  display: flex;
  justify-content: center;
}

.Todo__tabs > *:not(:last-child) {
  margin-right: 8px;
}
