.Todo {
  &__toolbar {
    input[type="checkbox"] {
      display: block;
      width: 50px;
    }
  }

  &__tabs {
    padding-inline-start: 0;
    display: flex;
    gap: 0rem;
    margin-bottom: 1rem; 
    margin-left: -4rem; 
  }

  &__tab {
    font-size: 1.1rem;
    cursor: pointer;
  }

}

.Action {
  &__btn {
    padding: 0.4rem 0.75rem;
    font-size: 1.4rem;
    background: transparent;
    border: 3px solid #333;
    cursor: pointer;
    transform: 2s ease;

    &--focus {
      background-color: red;
    }
  }
}