.toolbar {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.tabs {
  display: flex;
  justify-content: center;
}

.tabs > *:not(:last-child) {
  margin-right: 8px;
}

.action {
  outline: none;
  border: none;
  box-shadow: 2px 0 2px currentColor;
  border-radius: 4px;
  min-height: 32px;
  min-width: 80px;
  padding: 4px 8px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.action:hover {
  opacity: .85;
}

.action.active {
  background-color: #c2c2c2;
}
