.ToDo__login {
  align-self: center;
  margin: auto;
  min-width: 300px;
  min-height: 300px;
  background-color: $color_blue;
  color:$color_light;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $margin_child;
  box-sizing: border-box;
  border-radius: $font_size_large;
  background-image: linear-gradient(120deg, $color_dark_blue, $color_light_blue);
  form{
    display: flex;
    flex-direction: column;
  }
  label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: $font_size_medium;
    input{
      width: 100%;
      margin-top: $margin_child;
      padding: 5px;
      font-size: $font_size_mall;
    }
  }
  .Todo__Signin{
    background-color: $color_gray;
    padding:0 $margin_child;
    margin: $margin_child;
    color: $color_dark;
    border: none;
    height: $item_height;
    font-size: $font_size_medium;
    box-sizing: content-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;

  }
}