$color_light_blue:#4f74ff;
$color_dark:#010319;
$color_dark_blue:#0A155A;
$color_blue:#3d47af;
$color_dark_purple:#48466b;
$color_gray:#bbc2d8;
$color_light:#ffffff;
$color_violet:#d103fc;
$color_light_purple:#7d80AA;

$size_icon:25px;
$size_checkbox:12px;
$margin_child:10px;
$item_height:30px;

$border_radius_small:8px;
$border_radius_medium:12px;
$border_radius_large:16px;

$font_size_mall:10px;
$font_size_medium:14px;
$font_size_large:18px;