* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  margin: 0 auto;
}

.App {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 15px;
  background-color: #fdfbfb;
}

.Login__WrapperForm,
.ToDo__container {
  height: 100%;
  width: 500px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 3px 15px #eae3e3;
  border: 1px solid #ececec;
  background-color: #fff;
}

.Login__WrapperForm form {
  height: 100%;
  width: 100%;
}

.Login__FormTitle {
  font-size: 30px;
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
  background-color: #57b846;
  padding: 50px;
}

.Login__WrapperInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}

.Login__WrapperInputs input:first-child {
  margin-bottom: 10px;
}

.Login__WrapperInputs input:nth-child(2) {
  margin-bottom: 20px;
}

span.Login__ErrorMessage {
  width: 90%;
  margin-bottom: 10px;
  color: #ff0000;
  font-size: 14px;
}

button.Login__ButtonSubmit {
  border-radius: 15px;
  width: 90%;
  background-color: #57b846;
  color: #fff;
  text-transform: uppercase;
}

button:hover {
  opacity: 0.85;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  box-shadow: none;
  border: none;
  outline: none;
  cursor: pointer;
  min-height: 0;
  min-height: 35px !important;
}

input[type="checkbox"]:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

.ToDo__Nodata {
  text-align: center;
  text-transform: uppercase;
}

.ToDo__container {
  padding: 24px;
}

.Todo__creation {
  display: flex;
}

.Todo__input {
  flex: 1 1;
}

.ToDo__list {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  max-height: 400px;
  overflow: auto;
}

.ToDo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5px;
}

.ToDo__item > span {
  flex: 1 1;
  text-align: left;
  margin-left: 8px;
}

.Todo__content {
  flex: 1 1;
}

.Todo__delete {
  outline: none;
  border: none;
  width: 32px !important;
  height: 32px !important;
  min-width: auto;
  min-height: auto !important;
  box-shadow: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button.Todo__delete:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  transition: 0.3s all;
}

.Todo__action,
.Todo__delete {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.Todo__toolbar {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.Todo__tabs {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Todo__tabs > *:not(:last-child) {
  margin-right: 8px;
}

.Action__btn {
  border-radius: 15px;
  background-color: transparent !important;
  border: 1px solid transparent !important;
  color: #0d6efd !important;
  border-color: #0d6efd !important;
}

.Button__ClearAll {
  color: #fff !important;
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.Button__active {
  color: #fff !important;
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
}

.mr-3 {
  margin-right: 3px;
}

.mb-10 {
  margin-bottom: 10px;
}

.Todo__WrapperButtons {
  display: flex;
}
