$color-white: #fff;
$color-black: #666666;
$color-blue: #1c7ed6;
$color-purple: #713287;
$color-purple-2: #2e0a3b;
$color-purple-3: #522462;

$color-green: #17bd9b;
$color-gray: #e4e4e4;

$color-primary: #61ccfa;
$color-secondary: #f7f7f7;
$color-danger: #fe3e5a;
