.theme {
  --danger: #cc9a9a;
  --success: #8cedbd;
  --danger-hover: #af5b5e;
}
.LIGHT {
  --background-color: #f1f5f9;
  --card-background-color: #ffffff;
  --text-color: #64748b;
  --border-color: #e2e8f0;
}
.DARK {
  --background-color: #0f172a;
  --card-background-color: #1e293b;
  --text-color: #94a3b8;
  --border-color: #f1f5f91f;
}
