#container {
  width: 500px;
  padding: 2rem 1.5rem;
  background: white;
  box-shadow: 3px 3px 10px #eee;
}

.todo-wrap {
  width: 100vw;
  height: 100%;
  justify-content: center;
  display: flex;
  font-size: 1.2rem;
}

.input-todo {
  padding: 0.7rem 1rem;
  border: none;
  border: 3px solid #333;
  width: 70%;
}

#section--add {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
