.todo-toolbar {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  height: 30px;
}

.todo-toolbar__tabs {
  display: flex;
  justify-content: center;
}

.todo-toolbar__tabs>*:not(:last-child) {
  margin-right: 8px;
}
