.todo-toolbar {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  height: 30px;
}

.todo-toolbar__tabs {
  display: flex;
  justify-content: center;
}

.todo-toolbar__tabs>*:not(:last-child) {
  margin-right: 8px;
}

.action-btn {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
  border-color: #CE4646;
  color: #4d4d4d;
  font-size: 14px;
}