.ManaDo__LoginFormWrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
  background-color: white;
}

@media only screen and (max-width: 600px) {
  .ManaDo__LoginFormWrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.ManaDo__LoginFormWrapper > .ManaDo__LogoName {
  color: var(--primary);
  margin: 0;
}

.ManaDo__LoginFormWrapper > .ManaDo__WelcomeAlt {
  color: var(--muted--darker);
  margin-bottom: 3rem;
  font-size: 0.8rem;
}

.ManaDo__LoginFormWrapper > .ManaDo__loginForm {
  width: 100%;
}

.ManaDo__LoginFormWrapper > .ManaDo__loginForm > .ManaDo__LoginButton {
  width: 100%;
}

.ManaDo__LoginFormWrapper > .ManaDo__loginForm > .ManaDo__LoginMsg {
  color: var(--danger);
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 2rem;
}

.ManaDo__LoginAltText {
  display: inline-block;
  font-size: 0.7rem;
  color: var(--muted--darker);
  margin-top: 1rem;
}

.ManaDo__LoginAltText > .ManaDo__formGroupFeedbackLabel__strong {
  color: var(--secondary);
  font-weight: 600;
  text-decoration: none;
}
