@import "../../../styles/variable.scss";

.todo-input {
  display: flex;
  margin-bottom: 1rem;

  &__input {
    flex: 1 1;
    font-size: 1.6rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    background-color: $color-grey-light;
    border: none;
    width: 90%;
    display: block;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
    }
  }
}
