.todo__creation {
  /* display: flex; */
  margin-bottom: 2rem;
}
.todo__error{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: red;
  margin: 0 0 2rem 0;
}
.todo__input {
  width: 100%;
  height: 3.5rem;
  display: block;
}