.ManaDo__formGroup {
  display: flex;
  flex-direction: column;
}

.ManaDo__formGroup > .ManaDo__formGroupLabel {
  color: var(--textColor);
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 6px;
}

.ManaDo__formGroup > .ManaDo__formGroupFeedbackLabel {
  color: var(--danger);
  font-weight: 400;
  margin-top: 3px;
  font-size: 0.9rem;
}

.ManaDo__formGroup > .ManaDo__formGroupInput {
  background-color: #f3f6f9;
  border: none;
  padding: 9px 13px;
  border-radius: 4px;
}

.ManaDo__inputError {
  border-radius: 4px;
  border: 2px solid var(--danger) !important;
}

.ManaDo__formGroup > .ManaDo__formGroupInput::placeholder {
  color: var(--muted);
}
