.ManaDo__formGroup {
  display: flex;
  flex-direction: column;
}

.ManaDo__formGroup > .ManaDo__formGroupLabel {
  color: var(--muted--darker);
  font-weight: 400;
  font-size: 0.7rem;
  margin-bottom: 6px;
}

.ManaDo__formGroup > .ManaDo__formGroupFeedbackLabel {
  color: var(--danger);
  font-weight: 400;
  margin-top: 3px;
  font-size: 0.9rem;
}

.ManaDo__formGroup > .ManaDo__formGroupInput {
  box-sizing: border-box;
  background-color: #f3f6f9;
  border: none;
  padding: 9px 13px;
  border-radius: 4px;
  transition: box-shadow 100ms ease-in;
}

.ManaDo__formGroup > .ManaDo__formGroupInput:focus {
  outline: none;
  box-shadow: 0px 0px 0px 1.5px var(--secondary);
}

.ManaDo__inputError {
  border-radius: 4px;
  box-shadow: 0px 0px 0px 1.5px var(--danger) !important;
}

.ManaDo__formGroup > .ManaDo__formGroupInput::placeholder {
  color: var(--muted);
}
