.signin__container {
  display: flex;
  justify-content: center;
  padding: 24px;
  width: 500px;
  border: 1px solid rgba(0,0,0, 0.13);
  border-radius: 8px;
  box-shadow: 2px 2px 1px rgba(0,0,0, 0.09),
              3px 2px 3px rgba(0,0,0, 0.05);
  form {
    width: 210px;
  }
  .form__btn {
    margin-top: 18px;
    width: 100%;
  }
  .form__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
