// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(85, 109, 194) !default;

/// Green color
/// @type Color
$green-color: rgb(61, 182, 36) !default;

/// Red color
/// @type Color
$red-color: rgb(221, 82, 40) !default;
