.SigIn {
    box-shadow: 0 0 70px -20px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 400px;
    height: max-content;
    margin: auto;
    &__Container {
        width: 100%;
    }
    h1 {
        text-align: center;
        text-transform: uppercase;
    }
    form {
        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            label {
                margin-right: 1rem;
                flex-basis: 25%;
                text-align: left;
            }
            input {
                flex-basis: 75%;
                width: 100%;
                border: 1px solid #ccc;
            }
        }
        button {
            margin: 1rem 0 2rem;
            font-size: 1.3rem;
            padding: 0.5rem 2rem;
            background-color: #0d6efd;
            color: #fff;
            cursor: pointer;
            transition: 0.4s all ease;
        }
        p {
            margin-bottom: 1rem;
            color: red;
        }
    }
}
