.signin {
  height: 100vh;
  position: relative;

  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 25rem;

    .btn {
      width: 100%;
    }
  }
}
