.backdrop {
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
.modaling {
  animation: slide-down 300ms ease-out forwards;
  text-align: center;
  background-color: white;
  z-index: 30;
  width: 30%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  transform: translate(0, -50%);
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
