.Form__container {
  background-color: #fff;
  width: 330px;
  height: 450px;
  border-radius: 5px;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  box-shadow: 0 6px 31px -2px rgb(0 0 0 / 30%);
}

.Form__signin {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: calc(100% - 5rem);
  height: calc(100% - 5rem);
  text-align: center;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Form__signin input {
  width: calc(100% - 24px);
  margin-top: .75rem;
}

.Action__btn {
  box-shadow: none;
  color: #fff;
  height: 45px;
  text-transform: uppercase;
  background-color: #76b852;
}

.Form__signin__title {
  font-weight: 400;
  color: #fff;
}

.Form__signin__title h1 {
  margin-top: 0;
  margin-bottom: .25rem;
  font-weight: 400;
  text-transform: uppercase;
}

.Form__bg {
  height: 500px;
  background: #257aa6;
  position: absolute;
  top: -110px;
  right: -100px;
  left: 0;
  margin: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: ellipse(69% 46% at 48% 46%);
}