.ToDo__container {
  border: 1px solid rgba(0,0,0, 0.13);
  background-color: #f4f7fc;
  border-radius: 8px;
  width: 500px;
  height: fit-content;
  padding: 2rem;
  box-shadow: 0 0 20px 0 #00000033, 0 5px 5px 0 #0000003d;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.Todo__creation {
  display: flex;
}

.Todo__input {
  flex: 1 1;
  height: 42px;
  font-size: 14px;
  border: 1px solid #ddd
}

.ToDo__list {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  max-height: 50vh;
  min-height: 10vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.ToDo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem .25rem;
  margin-bottom: .5rem;
  border-radius: 3px;
  background-color: #e0e8f5;
  transition: all 400ms ease;
  cursor: pointer;
  position: relative;
}

.Todo__total {
  text-align: right;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.ToDo__empty {
  height: 10vh;
  margin-top: 1.5rem;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ToDo__item > span {
  flex: 1 1;
  text-align: left;
  margin: 0 8px 3px;
  word-break: break-word;
}

.Todo__content {
  flex: 1 1;
}

.Todo__delete {
  width: 38px;
  height: 100%;
  font-size: 12px;
  min-width: auto;
  min-height: auto;
  box-shadow: none;
  cursor: pointer;
  position: absolute;
  background-color: #f56468;
  color: #fff;
  right: -40px;
}

.Todo__toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  padding-left: .25rem;
}

.Todo__tabs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Todo__toolbar button {
  height: 36px;
}

.Todo__tabs > *:not(:last-child) {
  margin-right: 8px;
}

.ToDo__status {
  margin-left: .25rem;
  font-style: italic;
  font-size: 14px;
}

.ToDo__status__completed {
  color: #57ad28;
}

.ToDo__status__active {
  color: #d28c21;
}

.ToDo__input__edit {
  width: 100%;
  margin: 0 40px 3px 8px;
  min-height: 28px;
  box-shadow: none;
  border: 1px solid #ddd;
}

.ToDo__input__edit:focus {
  outline: none;
  box-shadow: none;
}

.ToDo__item:hover .Todo__delete {
  right: 0px;
}

.Action__btn__active {
  background-color: #1d819c;
}