.ManaDo__MoreContainer {
  z-index: 2;
  position: absolute;
  min-width: 64px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px var(--muted);
}

.ManaDo__MoreContainer > .ManaDo__MoreList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}
