.ManaDo__Header__Container {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

@media screen and (max-width: 600px) {
  .ManaDo__Header__Container {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
  }
}

.ManaDo__Header__Container > .ManaDo__UserGreeting__Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ManaDo__Header__Container
  > .ManaDo__UserGreeting__Container
  > .ManaDo__GreetUser__Label {
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0;
  color: var(--textColor);
}

.ManaDo__Header__Container
  > .ManaDo__UserGreeting__Container
  > .ManaDo__LogOut {
  font-weight: 500;
  cursor: pointer;
  font-size: .9rem;
  color: white;
}

.ManaDo__Header__Container > .ManaDo__AskUser {
  color: var(--primary);
  margin: 2rem 0;
}

.ManaDo__Header__Container > .ManaDo__AskUser > .ManaDo__AskUser_Important {
  color: var(--secondary);
}
