.todo__header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 1rem;
}

.todo__header > label {
  font-weight: 600;
}

.todo__header > label > .all {
  color: #0058ef;
}

.todo__header > label > .active {
  color: #03bb00;
}

.todo__header > label > .completed {
  color: #b0210a;
}