.input-field {
  font-size: 16px;
  width: 100%;
  padding: 18px 12px;
  outline: none;
  color: $textColor;

  &[type='checkbox'] {
    width: 24px;
    height: 24px;
    box-shadow: none;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &[type='checkbox']:focus {
    box-shadow: none;
    border: none;
    outline: none;
  }
}
