.button{
  button{
    margin-top: 20px;
    padding: 12px 20px;
    width: 100%;
    background-color: #395AD2;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 20px;
    border: 0
  }
}