.filterItem {
  padding: 8px 20px;
  color: #919191;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid #EAEAEA;
  background-color: white;
  margin: 2px 10px;
}
.active{
  color: #2A439E;
  border: 2px solid #395AD2;
}
