.Todo__creation {
  display: flex;
}

.Todo__creation input {
  font-size: 1.5em;
  font-weight: 300;
  min-height: 36px;
  border: none;
  outline: none;
  padding: 10px 12px;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: ease-out 200ms;
}

.Todo__creation input:focus {
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.25);
}

.Todo__input {
  flex: 1 1;
}
