.ToDo__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px rgb(141, 140, 140) solid;
}

.ToDo__item > span {
    flex: 1 1;
    text-align: left;
    margin-left: 8px;
}
.Todo__delete {
    outline: none;
    border: none;
    width: 32px;
    height: 32px;
    min-width: auto;
    min-height: auto;
    box-shadow: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
