h1 {
    color: rgba(175, 47, 47, 0.15);
    font-size: 100px;
    margin: 10px 0px;
}

.Todo {
    background-color: #fff;
    border: 1px solid rgba(0,0,0, 0.13);
    border-radius: 8px;
    width: 500px;
    padding: 24px;
}