.Todo__content--editable {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-right: 12px;
  border-right: 1px solid var(--border-color-base);
}

.Todo__content--editable .Todo__content-input {
  flex: 1;
  min-width: 100px;
  height: 25px;
}
