
.Todo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid var(--border-color-base);
}

.Todo__content {
  flex: 1 1;
  text-align: left;
  margin-left: 8px;
  margin-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Todo__item--completed .Todo__content:not(.Todo__content--editable) {
  color: var(--disabled-color);
  text-decoration: line-through;
}

.Todo__delete {
  outline: none;
  border: none;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex: 0 0 40px;
}

@media (min-width: 568px) {
  .Todo__content {
    margin-left: 16px;
    margin-right: 16px;
  }
}