/* CUSTOM CHECKBOX */
.label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.label > span {
  color: #424242;
  font-weight: 700;
  cursor: pointer;
  padding: 0.5rem 0.25rem;
  word-break: break-all;
}

.label > input[type="checkbox"] {
  height: 18px;
  width: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #424242;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: #fff;
  cursor: pointer;
}

.label > input:checked {
  border: 1px solid lightcoral;
  background-color: lightcoral;
}

.label > input:checked + span::before {
  content: '\2713';
  display: block;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 8px;
  top: 8px;
}

.content {
  flex: 1 1;
  text-align: left;
  margin-left: 8px;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: 500;
}

.content-checked{
  text-decoration: line-through;
}