.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ededed;

  &:first-child {
    border-top: 1px solid #ededed;
  }

  &__input {
    width: 100%;
    margin-left: 30px;
  }

  span {
    flex: 1 1;
    text-align: left;
    margin-left: 8px;
  }

  &__delete {
    display: none;
    outline: none;
    border: none;
    width: 32px;
    height: 32px;
    min-width: auto;
    min-height: auto;
    box-shadow: none;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: none;
    color: #af5b5e;
    font-weight: 500;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  &:hover {
    .todo-item__delete {
      display: flex;
      opacity: 1;
    }
  }
}