.root {
  display: flex;
  align-content: center;
  padding: 20px;
  border-bottom: 1px solid var(--background-color);
  transition: all .3s;
  &.editing {
    border-color: var(--danger);
  }
  &:hover {
    & .deleteButton {
      opacity: 1;
      pointer-events: all;
    }
  }
  & .checkbox {
    &.hiddenCheckbox {
      opacity: 0;
      pointer-events: none;
    }
  }
  & .input {
    width: 100%;
  }
  & .content {
    color: var(--text-color);
    transition: all .2s;
    font-size: 1.5rem;
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    &.active {
      text-decoration: line-through;
      opacity: .5;
    }
  }
  & .deleteButton {
    margin-left: auto;
    cursor: pointer;
    color: var(--danger);
    transition: all .2s;
    opacity: 0;
    pointer-events: none;
    font-size: 1.125rem;

    display: flex;
    align-items: center;
    &:hover {
      color: var(--danger-hover);
    }
  }
}