.container {
  padding: 10px 15px;
  text-align: center;
  font-size: 15px;
  border-top: 1px solid #e6e6e6;
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  align-items: center;
  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6,
      0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6,
      0 17px 2px -6px rgba(0, 0, 0, 0.2);
  }

  button {
    color: inherit;
    margin: 0 4px;
    padding: 4px 8px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    background-color: transparent;
    &.selected,
    &:hover {
      border-color: rgba(175, 47, 47, 0.2);
    }
  }

  .clearButton {
    background-color: hsl(50, 100%, 50%);
    font-weight: bold;
    &:hover {
      background-color: hsl(55, 100%, 50%);
    }
  }
}
