.ManaDo__Footer {
  height: 42px;
  display: block;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.705);
  font-size: 0.8rem;
}

.primary {
  background-color: var(--primary);
}

.secondary {
  background-color: var(--secondary);
}
