.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.todo-item > span {
  flex: 1 1;
  text-align: left;
  margin-left: 8px;
}

.todo-item__content {
  flex: 1 1;
}

.todo-item__delete {
  outline: none;
  border: none;
  width: 32px;
  height: 32px;
  min-width: auto;
  min-height: auto;
  box-shadow: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: red;
  color: white;
}
