.Todo__toolbar {
	display: flex;
	justify-content: space-between;
	margin-top: 24px;
}

.Todo__tabs {
	display: flex;
	justify-content: center;
}

.Todo__tabs > *:not(:last-child) {
	margin-right: 8px;
}

.Action__btn.active{
	background-color: aquamarine;
}