.todoToolbar {
	display: flex;
	justify-content: space-between;
	margin-top: 24px;
	border-top: 1px solid #bcbcc3;
	padding-top: 10px;
	margin-left: 24px;
	margin-right: 24px;

	button {
		background-color: white;
		border: none;
		padding: 5px 10px;
		border-radius: 5px;
		cursor: pointer;
		color: #413f3f;
		font-size: 13px;
	}

	.btnActive {
		background-color: #ddd;
	}
}

.todoTabs {
	display: flex;
	justify-content: center;
	gap: 5px;
}

.note {
	display: flex;
	justify-content: flex-start;
	font-size: 13px;
	padding-left: 3px;
	color: #413f3f;
	align-items: center;
}
