.ToDo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 10px;
}
.Item__leftSide {
  display: flex;
  align-items: center;
}
.Delete__btn{
  color: #ff0404ce;
}