.Todo__toolbar {
  margin-top: 24px;
}

.Todo__tabs {
  display: flex;
  justify-content: flex-end;
}

.Todo__tabs > *:not(:last-child) {
  margin-right: 8px;
}

.Action__btn {
  min-width: 120px;
}

.Completed__btn {
  background-color: #83cc16cc;
  color: #fff;
}

.Completed__btn:hover,
.Completed__btn:active,
.Completed__btn:focus {
  background-color: #84cc16;
  border: solid 1px #84cc16;
  color: #fff;
}

.Active__btn{
  background-color: #60a5faea;
  color: #fff;
}

.Active__btn:hover,
.Active__btn:active,
.Active__btn:focus {
  background-color: #368df8;
  border: solid 1px #368df8;
  color: #fff;
}
