.ToDo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  flex: 1 1;
  text-align: left;
  margin-left: 8px;
  cursor: pointer;
  color: #fff !important;
  letter-spacing: 2px;
  font-weight: 500;
}

.content-checked{
  text-decoration: line-through;
}

.Todo__edit {
  width: 100%;
  margin: 8px 0;
}

.Todo__delete {
  outline: none;
  border: none;
  width: 32px;
  height: 32px;
  min-width: auto;
  min-height: auto;
  box-shadow: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}