.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

button {
  outline: none;
  border: none;
  box-shadow: 2px 0 2px currentColor;
  border-radius: 4px;
  min-height: 36px;
  min-width: 100px;
  padding: 4px 8px;
  color: #eee;
  font-family: "Avenir Next";
  border-radius: 50px;
  background: linear-gradient(45deg, #3d444b, #333a3f);
  box-shadow: 5px -5px 10px #24292d, -5px 5px 10px #444d55;
}

button:hover {
  opacity: 0.85;
}

input[type="checkbox"] {
  min-width: 20px !important;
  min-height: 20px !important;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: box-shadow 0.3s;
  cursor: pointer;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
}

input[type="checkbox"]:checked {
  background: #b57336;
  border: solid 1px #b57336;
  box-shadow: inset 5px -5px 10px #915c2b, inset -5px 5px 10px #d98a41;
}

input {
  min-height: 40px;
  border: none;
  font-family: "Avenir Next Bold";
  outline: none;
  padding: 0 18px;
  color: #eb8e40;
  border-radius: 4px;
  caret-color: #eb8e40;
  border-radius: 8px;
  background: #343b41;
  box-shadow: inset 5px -5px 10px #2b3035, inset -5px 5px 10px #3d464d;
}

.icon {
  filter: invert(0.4);
}

