* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  box-shadow: 2px 0 2px currentColor;
  border-radius: 4px;
  min-height: 32px;
  min-width: 80px;
  padding: 4px 8px;
}

button:hover {
  opacity: 0.85;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  min-height: 40px;
  box-shadow: none;
  border: none;
  outline: none;
}

input[type="checkbox"]:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

input {
  min-height: 44px;
  border: none;
  outline: none;
  padding: 0 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: all 0.25s ease-in;
}

input:focus {
  box-shadow: 1px 0 9px rgba(0, 0, 0, 0.25);
}
