body {
    background: rgb(46, 35, 35);
}

.App {
    text-align: center;
    display: flex;
    justify-content: center;
}

button {
    outline: none;
    border: none;
    border-radius: 4px;
    min-height: 32px;
    min-width: 80px;
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}

input[type='checkbox'] {
    width: 24px;
    height: 24px;
    box-shadow: none;
    border: none;
    outline: none;
}

input[type='checkbox']:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

input {
    height: 40px;
    border: none;
    outline: none;
    padding: 0 12px;
    border-radius: 4px;
}

input:focus {
    box-shadow: 1px 0 9px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #ebebeb;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(157, 157, 157, 0.1);
    border: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #fff, #e4e4e4);
    border: 1px solid #aaa;
}

::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22add4, #1e98ba);
}
