@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* Colors */
  --clr-dark: #050505;
  --clr-light: #fafafa;
  --clr-grey: grey;
}

body {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  line-height: var(1.4);
  background-color: var(--clr-light);
  color: var(--clr-dark);
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

input[type="checkbox"] {
  min-width: 0.75rem;
  min-height: 0.75rem;
  box-shadow: none;
  border: none;
  outline: none;
}

input[type="checkbox"]:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

input {
  min-height: 36px;
  border: none;
  outline: none;
  padding: 0 12px;
  box-shadow: 2px 0 4px rgba(214, 50, 50, 0.2);
  border-radius: 4px;
  font-family: "Quicksand", sans-serif;
}

input:focus {
  box-shadow: 1px 0 9px rgba(0, 0, 0, 0.25);
}

.ToDo__container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: lightskyblue;
  background-image: linear-gradient(to bottom, white, lightblue);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.09), 3px 2px 3px rgba(0, 0, 0, 0.05);
}

.Todo__creation {
  display: flex;
}

.Todo__input {
  flex: 1 1;
  text-align: center;
}

.ToDo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Action__btn {
  background-color: var(--clr-dark);
  color: white;
  padding: 0.35rem 0.5rem;
  border: 1px solid var(--clr-dark);
  border-radius: 1rem;
  font-size: 0.75rem;
  cursor: pointer;
  transition: background-color 250ms;
  display: inline-block;
  width: 100px;
  font-family: "Quicksand", sans-serif;
}

.Todo__delete,
.Todo__edit {
  color: var(--clr-dark);
  font-size: 1.25rem;
}

.Action__btn:hover {
  background-color: var(--clr-grey);
}

.Todo__toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
}

.Todo__tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 0.5rem;
}

.Todo__tabs > *:not(:last-child) {
  margin-right: 0.5rem;
}

@media screen and (min-width: 768px) {
  .Action__btn {
    width: 120px;
  }
  .ToDo__container {
    padding: 2rem 1rem;
  }
}

.todo-item-active {
  text-decoration: line-through;
  color: grey;
}
