.todo__page{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.todo__task{
    width: 40vw;
    background-color: #ebecf0;
    height: fit-content;
    border-radius: 6px;
    padding: 10px;
}
.task__title{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}
.task__content{
    overflow-y: scroll;
    max-height: 80vh;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}
.task__item{
    background-color: white;
    /* width: 90%; */
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
    word-wrap: break-word;
    min-height: 50px;
}
.item__content{

}
.item__time{
    font-size: 12px;
    background-color: #f2f2f2;
    width: fit-content;
    border-radius: 6px;
    padding: 3px;
}
.donot{
    background-color:#ff9999;
    color:white;
}
.done{
    background-color: #66cc99;
    color:white;
}
.todo__input{
    height: 36px;
    font-size: small;
    border-radius: 6px;
    /* margin-top: 20px; */
    width: 90%;
}
.todo__input_edit{
    border: 0px;
    box-shadow: none !important;
    row-gap: 5;
}
.todo__footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}
.todo__checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}
.todo__checkbox p{
    font-size: 13px;
}
.todo__checkbox input{
    height:16px !important;
    width: 16px !important;
}
.todo__grp_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}
.todo__grp_btn button{
    height: 40px;
    width: 200px;
    border: 0px;
    color: #ffff;
}
.btn__delete{
    background-color: #b81212;
}
.btn__complete{
    background-color: #146e2c;
}