.ToDo_Header {
    color: #1caad9;
}
.Todo__input {
    outline-color:#1caad9;
    outline-style: solid;
}
.ToDo__list {
    height: 200px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}
.ToDo__list::-webkit-scrollbar-track {
    background-color: darkgrey;
}
.ToDo__item {
    border-radius: 8px;
    height: 80%;
    margin: 2px 0;
    padding: 2px 4px;
}
.ToDo__item__completed {
    background-color: #8FD6CF;
}
.Todo__delete {
    color: #dc3545;
}
.Action__btn {
    color: #fff;
    background-color: #1caad9;
    height: 45px;
    font-size: 13px;
    padding: 14px 15px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
}
.input__edit {
    display: flex;
    width: 100%;
    outline-color:#FF9E3A;
    outline-style: solid;
}
.Active-btn {
    border: solid 3px #FF9E3A;
}

