.SignIn {
  background-color: var(--white-color);
  padding: 4rem 1rem;
  border-radius: 0.6rem;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
  margin-top: 10%;
  min-width: 360px;
}

.SignIn__title {
  margin: 0 0 1rem;
  font-size: 1.4rem;
}

.SignIn__form {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.SignIn__form button {
  min-height: 36px;
  font-size: 1rem;
}

.SignIn__form input {
  font-size: 0.9rem;
}
