.ToDo__container {
    background-color: #98ddca;
    border-radius: 8px;
    width: 500px;
    padding: 50px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.09), 3px 2px 3px rgba(0, 0, 0, 0.05);
    .titleTodo{
        color: white;
        font-size: 1.8rem;
        font-weight: 900;
        margin-bottom: 20px;
        
    }
}

.Todo__creation {
    display: flex;
}

.Todo__input {
    flex: 1 1;
}
.Todo__editInput {
    width: 100%;
    margin: 0px 10px;
}
.ToDo__list {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.ToDo__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px ;
    
   
}
.ToDo__content{
  color: black;
    transition-duration: 0.2s;
    cursor: pointer;
    &:hover{
        color: white;
    }
   
}
.ToDo__item > span {
    flex: 1 1;
    text-align: left;
    margin-left: 8px;
}

.Todo__content {
    flex: 1 1;
}

.Todo__delete {
    outline: none;
    border: none;
    width: 32px;
    height: 32px;
    min-width: auto;
    min-height: auto;
    box-shadow: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Todo__action,
.Todo__delete {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    transition-duration: 0.3s;
    &:hover{
        color: white;
        background-color: red;
    }
}

.Todo__toolbar {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    padding: 10px ;
}

.Todo__tabs {
    display: flex;
    justify-content: center;
}

.Todo__tabs > *:not(:last-child) {
    margin-right: 8px;
}

.Action__btn {
}
