@import "../../scss/abstracts/variables";

.Container {
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 8px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.09), 3px 2px 3px rgba(0, 0, 0, 0.05);
  width: 500px;

  margin-top: 2rem;
  padding: 24px;

  & > h1 {
    color: $brand-color;
  }

  .List {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    position: relative;
    margin-top: 1.5rem;
    max-height: 50vh;
    overflow: auto;
    padding-right: 4px;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: rgba($color: $text-color, $alpha: 0.16);
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba($color: $text-color, $alpha: 0.48);
      border-radius: 3px;

      &:hover {
        background: rgba($color: $text-color, $alpha: 0.64);
      }
    }
  }
}
