button {
  outline: none;
  border: none;
  box-shadow: 0.125rem 0 0.125rem currentColor;
  border-radius: 0.25rem;
  min-height: 2rem;
  min-width: 5rem;
  font-family: "Roboto Mono", monospace;
  padding: 0.25rem 0.5rem;
}

button:hover {
  opacity: 0.85;
}

input {
  min-height: 36px;
  border: none;
  outline: none;
  padding: 0 12px;
  box-shadow: 0.125rem 0 0.25rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  font-family: "Roboto Mono", monospace;
}

input:focus {
  box-shadow: 1px 0 9px rgba(0, 0, 0, 0.25);
}
