// Colors
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$grey: #d8dff7;
$light-grey: #f9faff;
$red: #dc748c;
$green: #3eb489;
$light-green: rgba(76, 175, 80, .5);
$dark-green: #357a38;


//Box-shadow
$boxShadowDefault: rgba(149, 157, 165, 0.2) 0px 0.5rem 1.5rem;
