@import "./sign-in.scss";
@import "./layout.scss";
@import "./todo.scss";
@import "./confirm-modal.scss";

::-webkit-scrollbar  {
	width: 4px;
	height: 7px;
	border-radius: 50px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: #808080;
	border: 0px none #ffffff;
	border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
	background: #808080;
}
::-webkit-scrollbar-thumb:active {
	background: #808080;
}
::-webkit-scrollbar-track {
	background: transparent;
	border: 0px none #ffffff;
	border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
	background: transparent;
}
::-webkit-scrollbar-track:active {
	background: transparent;
}
::-webkit-scrollbar-corner {
	background: transparent;
}
