
.Todo-page{
    background-color: lightcoral;
    width: 100%;
    height: 100vh;
}

.ToDo__container {
  width: 600px;
  margin: 5rem auto;

  background-color: #3c424a;
  border: 1px solid rgba(0,0,0, 0.13);
  border-radius: 24px;

  padding: 24px;
  box-shadow: 2px 2px 1px rgba(0,0,0, 0.09),
              3px 2px 3px rgba(0,0,0, 0.05);
}

.ToDo__container h1{
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin: 0;
    margin-bottom: 12px;
}

.Todo__creation input{
    background-color: #343a3f;
    box-shadow: 0px 0 2px rgb(255 255 255 / 20%) !important;
    color: #fff;
    padding: 12px !important;
}

.Todo__creation {
  display: flex;
}

.Todo__input {
  flex: 1 1;
}

.ToDo__list {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.Todo__divider{
  border: 1px solid rgb(255 255 255 / 20%);
  width: 100%;
  height: 1px;
  margin: 24px 0;
}

.Todo__action, .Todo__delete {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.Todo__toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Todo__toolbar p, .Todo__tabs p {
  margin: 0;
  margin-right: 8px;
  color: #b6b6b6;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 14px;
  font-style: italic;
}

.Todo__tabs {
  display: flex;
  justify-content: center;
}

.active{
  color: lightcoral !important;
  font-weight: 700 !important;
}

.Todo__tabs .label > input:checked + span::before{
  top: 2px;
}

.Todo__tabs > *:not(:last-child) {
  margin-right: 8px;
}