.page-container {
  display: flex;
  background-color: #ddd;
  min-height: 100vh;
  min-width: 100%;
  align-items: center;
  justify-content: center;
}
.content-container {
  background-color: white;
  border-radius: 8px;
  min-width: 300px;
  max-width: 800px;
  padding: 32px;
}
