.success {
  background-color: #90ee90;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 16px;
  text-align: center;
}

.fail {
  background-color: #ffcccb;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 16px;
  text-align: center;
}
